<a href="/posts/{{id}}">
    <div class="border-1 border-black m-2 bg-slate-200">
        <div class="p-2 flex justify-between">
            <div>
                <h1 class="text-4xl">{{title}}</h1>
                <p>{{comments.length}} comments</p>
            </div>
            <p class="text-lg">{{date}}</p>
        </div>
    </div>
</a>
<div>
    <button id="delete">Delete</button>
    <button>Edit</button>
</div>
