<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC Tech Blog</title>
    <link rel="icon" href="https://miro.medium.com/v2/resize:fit:679/0*ngAthWxOvKZHvsw9">
    <link rel="stylesheet" href="/css/output.css">
</head>

<body>
    <div class="bg-blue-400 p-4">
        <a href='/'><h1 class="text-red-700 text-6xl">MVC Tech Blog</h1></a>
    </div>
    {{#if loggedIn}}
    <div class="m-2">
    <button id="logout">Logout</button>
    <button onClick='location.href = "/dashboard";' id="dashboard">Dashboard</button> {{!--https://stackoverflow.com/questions/16562577/how-can-i-make-a-button-redirect-my-page-to-another-page--}}
    </div>
    {{else}}
    <a href='/login'><button>Login</button></a>
    {{/if}}
    {{{ body }}}
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>