<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC Tech Blog</title>
    <link rel="icon" href="https://miro.medium.com/v2/resize:fit:679/0*ngAthWxOvKZHvsw9">
    <link rel="stylesheet" href="/css/output.css">
</head>

<body>
    <div class="bg-blue-400 p-4 flex justify-between items-center">
        <a href='/'>
            <h1 class="text-red-700 text-6xl">MVC Tech Blog</h1>
        </a>
        {{#if loggedIn}}
        <div class="m-2">
            <button id="logout" class="text-xl mx-2">Logout</button>
            <button onClick='location.href = "/dashboard";' id="dashboard" class="text-xl mx-2">Dashboard</button>
            {{!--https://stackoverflow.com/questions/16562577/how-can-i-make-a-button-redirect-my-page-to-another-page--}}
        </div>
        {{else}}
        <button onClick="location.href='/login';" class="mx-2 text-xl">Login</button>
        {{/if}}
    </div>
    {{{ body }}}
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>