<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC Tech Blog</title>
    <link rel="icon" href="https://miro.medium.com/v2/resize:fit:679/0*ngAthWxOvKZHvsw9">
    <link rel="stylesheet" href="/css/output.css">
</head>

<body>
    <div class="bg-zinc-800 p-4 flex justify-between items-center">
        <a href='/'>
            <h1 class="text-red-700 sm:text-5xl text-3xl font-bold">MVC Tech Blog</h1>
        </a>
        {{!-- Only want to show the logout and dashboard buttons if the user is logged in --}}
        {{#if loggedIn}}
        <div class="m-2">
            <button id="logout" class="text-sm sm:text-xl mx-2 p-2 rounded-md bg-stone-600 hover:bg-zinc-400 transition ease-in-out text-zinc-300">Logout</button>
            <button onClick='location.href = "/dashboard";' id="dashboard" class="sm:text-xl text-sm mx-2 p-2 bg-stone-600 rounded-md hover:bg-zinc-400 transition ease-in-out text-zinc-300">Dashboard</button>
            {{!--https://stackoverflow.com/questions/16562577/how-can-i-make-a-button-redirect-my-page-to-another-page--}}
        </div>
        {{else}}
        <button onClick="location.href='/login';" class="mx-2 sm:text-xl text-sm bg-stone-600 p-2 rounded-md hover:bg-zinc-400 transition ease-in-out">Login</button>
        {{/if}}
    </div>
    {{{ body }}}
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>