<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/output.css">
</head>

<body>
    <div class="bg-blue-400 p-4">
        <h1 class="text-red-700 text-6xl">Page title</h1>
    </div>
    {{#if loggedIn}}
    <div class="m-2">
    <button id="logout">Logout</button>
    <a href='/dashbard'><button id="dashboard">Dashboard</button></a>
    </div>
    {{else}}
    <a href='/login'><button>Login</button></a>
    {{/if}}
    {{{ body }}}
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>