{{#if loggedIn}}
<div class="w-10/12 border-2 border-black mx-auto p-3 mt-2 rounded-sm">
    <form id="editpost">
        <div class="flex flex-col p-4 mx-auto m-4">
            <div class="flex justify-between mb-2">
                <label for="title">Title</label>
                <input id="title" value="{{postTitle}}" class="w-10/12 border-2 border-black">
            </div>
            <div class="flex justify-between mb-2">
                <label for="content">Content</label>
                <textarea id="content" class="w-10/12 border-2 border-black">{{postContent}}</textarea>
            </div>
        </div>
        <button type="submit" class="border border-black p-2 bg-stone-300 rounded-md hover:bg-stone-600 transition ease-in-out">Update post</button>
    </form>
</div>
<script src="/js/edit.js"></script>
{{else}}
<h1>Please log in to edit a post.</h1>
{{/if}}