<div class="w-10/12 border-2 border-black mx-auto">
    <form id="login-form">
        <div class="flex justify-around m-4">
            <label for="email">Email:</label>
            <input id="email" type="text" class="border-2 border-black w-6/12"/>
        </div>
        <div class="flex justify-around m-4">
            <label for="pass">Password:</label>
            <input id="pass" type="text" class="border-2 border-black w-6/12"/>
        </div>
        <button id="login" class="border border-black mx-auto">Login</button>
        <button type="submit" class="border border-black mx-auto">Sign up</button>
    </form>
</div>

<script src="./js/login.js"></script>